:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(0, 170, 255);
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 133, 198);
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
